.leaflet-container{
  width:100%;
  height: 80vh;
  z-index: 0;
}

/* body{
  font-size: large;
} */

.home-main{
  width:100%;
}

.props-container{
  display:inline-block;
  margin-top: 100px;
  margin-left: 100px;
  /* margin-right: 100px; */
  padding: 0px;
  }
.props{
  display:block;
  width:400px;
  height:400px;
  float:left;
  margin-left:18px;
  margin-right: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: static;
  padding: 0px;
  object-fit:cover;
  text-align: left;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.15);
  font-family: system-ui;
  }
  
  .props:hover{
    transform: scale(1.005);
  }

  #prop-image{
    position:static;
    height:300px;
    width:400px;
    padding: 0px;
    padding-top: 0px;
    margin:0px;
    object-fit:cover;
  }

  .content #price{
    margin:0;
    padding:0;
    font-weight: 650;
    font-size: 21px;
    padding-left: 10px;
    padding-top: 5px;
  }

  .content #details{
    margin:0;
    padding:0;
    font-size: 17px;
    padding-left: 10px;
    padding-top: 5px;
  }

  .content p{
    padding:0;
    padding-left: 10px;
    margin:0;
    padding-top: 5px;
    font-size: 14px;
  }

  .root-head{
    width:100%;
    height:707px;
    background-image: url("C:\Users\harry\Downloads\lycs-architecture-kUdbEEMcRwE-unsplash (2).jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .head{
    /* text-align: center; */
    /* background-color: black; */
    width:100%;
    height:450px;
    background-image: url("C:\Users\harry\Downloads\lycs-architecture-kUdbEEMcRwE-unsplash (2).jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .head header{
    opacity: 0.77;
    float:left
  }

  header{
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    box-shadow: 4px 5px 9px 6px rgba(0, 0, 0, 0.2);
    
  }

  .buttons{
    height:100%;
    float:left;
  }

  .Buybtn {
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 25px;
    border: none;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 1;
  }
  
  .Buy{
    /* position: relative;
    display: inline-block;
    margin-left: 100px;
    padding-top: 10px; */
    float:left;
    margin-left:200px;
    opacity: 1;
    margin-top: 17px;
  }
  
  .Buy-content {
    z-index: 10;
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    min-width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .Buy-content li {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
  }
  .Buy-content li:hover {background-color:rgb(0, 0, 0); ;color: #ffffff;cursor: pointer;}
  .Buy:hover .Buy-content {display: block;}
  .Buy:hover .Buybtn {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }

  .Rentbtn {
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 25px;
    border: none;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 1;
  }
  
  .Rent{
    /* position: relative;
    display: inline-block;
    margin-left: 100px;
    padding-top: 10px; */
    float: left;
    margin-left: 50px;
    opacity: 1;
    margin-top: 17px;
  }
  
  .Rent-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    min-width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:10;
  }
  
  .Rent-content li {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
  }
  .Rent-content li:hover {background-color:rgb(0, 0, 0); ;color: #ffffff;cursor: pointer;}
  .Rent:hover .Rent-content {display: block;}
  .Rent:hover .Rentbtn {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }

  .Sellbtn {
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 25px;
    border: none;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 1;
  }
  
  .Sell{
    /* position: relative;
    display: inline-block;
    margin-left: 100px;
    padding-top: 10px; */
    float:left;
    margin-left: 50px;
    opacity: 1;
    margin-top: 17px;
  }

  .Sell-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    min-width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:10;
  }
  
  .Sell-content li {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
  }

  .Sell-content li:hover {background-color:rgb(0, 0, 0); ;color: #ffffff;cursor: pointer;}
  .Sell:hover .Sell-content {display: block;}
  .Sell:hover .Sellbtn {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }

  .home-account-dropdown{
    color: white;
    position: relative;
    display: inline-block;
    font-size: 15px;
    margin-left: 550px;
    padding-top: 10px;
    cursor: pointer;
  }

  .account-dropdown{
    color: white;
    position: relative;
    display: inline-block;
    font-size: 15px;
    margin-left: 400px;
    padding-top: 10px;
    cursor: pointer;
  }

  .account-button{
    margin-left: 335px;
  }

  #acc-img{
    margin-top: 8px;
    width:40px;
  }

  .ul-before{
    background-color: white;
    margin-left: 150px;
    display:none;
    width:100px;
  }

  .ul-after{
    cursor: pointer;
    background-color: white;
    color: black;
    opacity: 1;
    margin-left: 180px;
    display: block;
    font-size: 20px;
    list-style-type: none;
    padding: 0;
    font-weight: 30px;
    width:200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .ul-after li{
    font-weight: 30px;
    padding:10px;
  }

  .ul-after li:hover{
    background-color: black;
    color: white;
    padding: 10px;
  }

  .wrapper{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .wrapper .search_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    height: 65px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px #b3c6ff;
  }
  
  .wrapper .search_box .dropdown{
    width: 100px;
    border-right: 2px solid #dde2f1;
    color: #9fa3b1;
    position: relative;
    cursor: pointer;
  }
  
  .wrapper .search_box .dropdown .default_option{
    text-transform: uppercase;
    padding: 13px 15px;
    font-size: 21px;
    margin-top: 1px;
  }
  
  .wrapper .search_box .dropdown .ul1{
    position: absolute;
    top: 70px;
    left: -10px;
    background: #fff;
    width: 100px;
    border-radius: 5px;
    padding: 20px;
    display: none;
    box-shadow: 8px 8px 6px -10px #b3c6ff;
    list-style-type: none;
  }

  .wrapper .search_box .dropdown .ul2{
    position: absolute;
    top: 70px;
    left: -10px;
    background: #fff;
    width: 100px;
    border-radius: 5px;
    padding: 20px;
    display:block;
    box-shadow: 8px 8px 6px -10px #b3c6ff;
    list-style-type: none;
  }
  
  
  
  .wrapper .search_box .dropdown ul li{
    padding-bottom: 20px;
    padding-left: 15px;
    font-size: 21px;
  }
  
  .wrapper .search_box .dropdown ul li:last-child{
    padding-bottom: 0;
  }
  
  .wrapper .search_box .dropdown ul li:hover{
    color: #6f768d;
  }
  
  .wrapper .search_box .dropdown:before{
    content: "";
    position: absolute;
    margin-top: 8px;
    margin-left: px;
    top: 18px;
    right: 12px;
    border: 8px solid;
    border-color: #5078ef transparent transparent transparent;
  }
  
  .wrapper .search_box .search_field{
    width: 350px;
    height: 100%;
    position: relative;
    border: 5px;
  }
  
  .wrapper .search_box .search_field .input{
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    color: #6f768d;
  }
  
  .wrapper .search_box .search_field .fas{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: #5078ef;
    cursor: pointer;
  }

  .wrapper .search_box .search-logo{
    margin-left: 50px;
    width:60px;
    border-radius: 5px;
    background-color: #e7e7e7;
  }

  .wrapper .search_box .search-logo:hover{
    background-color: #cacaca;
  }

  .wrapper .search_box img{
    position:relative;
    width: 40px;
    height: 40px;
   margin-left: 10px;
   margin-top: 10px;
  }

  .main{
    margin-left:100px;
    margin-right:100px;
    margin-top: 50px;
    /* margin-bottom: 100px; */
  }

  .image-box{
    width:900px;
    height:500px;
    overflow-y:auto;
    float:left;
    /* margin-bottom:100px; */
    margin-right:20px;
  }

  .image-box .first{
    overflow:hidden;
    
  }

  .image-box .first-image{
    width:880px;
    object-fit: contain;
    margin-right: 2px;
    margin-left: 2px;
  }

  .image-box .other{
    overflow:hidden;
    float:left;
  }

  .image-box .other-images{
    width:437px;
    object-fit: cover;
    height: 350px;
    margin-right: 2px;
    margin-left: 2px;
  }

  .map{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: 80px;
    
    /* height:80vh; */
  }

  #b{
    color: black;
    background-color: white;
    border:none;
    box-shadow: 1px 1px 10px -3px #000000;
  }

  #b:hover{
    transform: scale(1.005);
  }

  .buy-map{
    width:50%;
    height:656px;
    float:left;
  }

  .map-props-container{
    display:inline-block;
    margin-left: 10px;
    /* margin-right: 100px; */
    padding: 0px;
    overflow-y:auto;
    width:49%;
    height:630px;
    }
  .map-props{
    display:block;
    width:340px;
    height:340px;
    float:left;
    margin-left:10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: static;
    padding: 0px;
    object-fit:cover;
    text-align: left;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.15);
    font-family: system-ui;
    }
    
    .map-props:hover{
      transform: scale(1.005);
    }
  
  
    #map-prop-image{
      position:static;
      height:250px;
      width:340px;
      padding: 0px;
      padding-top: 0px;
      margin:0px;
      object-fit:fill;
    }

    .map-content{
      height:90px
    }

    .map-in-props{
      display:block;
      width:150px;
      height:120px;
      padding: 0px;
      }
      
      .map-in-props:hover{
        transform: scale(1.005);
      }
    
    
      #map-in-prop-image{
        position:static;
        height:80px;
        width:150px;
        padding: 0px;
        padding-top: 0px;
        margin:0px;
        object-fit:cover;
      }
  
      .map-in-content h3{
        padding: 0;
        font-size: 10px;
      }

      .map-in-content p{
        padding: 0;
        font-size: 10px;
      }

      #map-prop-image{
        object-fit: cover;
      }


      .login{
        background-image: url("C:\Users\harry\Downloads\Screenshot 2023-08-28 171314.png");
        background-color:grey;
        background-size: cover;
        height:707px;
    }
    
    table{
        background-color: black;
        color: aliceblue;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 0px;
        margin-top: 80px;
        opacity: 0.9;
        margin-left:34%;
        margin-right: auto;
        box-shadow: 0px 30px 30px 10px black;
        float: inherit;
        width:500px;
        height:400px;
    }
    .signin{
        padding-left: 63px;
        padding-right: 63px;
        background-color: rgb(22, 164, 6);
        color: rgb(5, 2, 2);
        font-weight: bolder;
        height: 35px;
        width: 300px;
        font-size:large;
        font-weight:bolder;
        cursor: pointer;
        font-family: 'Jura', sans-serif;
        border-radius: 2em;
    
    }
    
    .signin:hover{
    transform: scale(1.05);
    }
    
    .login .input{
        background-color: rgb(45, 39, 39);
        color:beige;
        height: 30px;
        width: 250px;
        font-size:small;
        border-radius: 2em;
    }
    
    .align{
        padding-top: 5%;
        height:100%;
    }
    
    .a{
      
        padding-left: 140px;
        height: 20px;
    }
    
    .b{
        padding-left: 80px;
    }
    
    .d{
        font-size:xx-large;
        font-family: 'Jura', sans-serif;
    }
    
    .e{
        font-size:14px;
        color: rgb(124, 139, 155);
    }
    
    .f{
        font-size:15px;
        color: rgb(124, 139, 155);
    }
    
    .h{
        height: 70px;
    }
    
    #p{
        color: rgb(34, 92, 253);
        cursor: pointer;
    }
    
    .u{
        font-size:11px;
        color: rgb(80, 92, 104);
    }
    
    #signup{
        cursor: pointer;
    }

    .buy-form{
      margin-left:100px;
    }

    .buy-container{
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    .trending-props-container{
      display:flex;
      flex-wrap:wrap;
      flex-direction: row;
      /* justify-content: center; */
      margin-top: 0px;
      margin-left: 85px;
      padding: 0px;
    }

    .latest-props-container{
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      /* justify-content: center; */
      margin-top: 0px;
      margin-left: 85px;
      padding: 0px;
    }

    .recommended-props-container{
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      /* justify-content: center; */
      margin-top: 0px;
      margin-left: 85px;
      padding: 0px;
    }
      
    .buy-props{
      width:300px;
      height:300px;
      margin-left:18px;
      margin-right: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
      position: static;
      padding: 0px;
      object-fit:cover;
      text-align: left;
      box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.15);
      font-family: system-ui;
      }
      
      .buy-props:hover{
        transform: scale(1.005);
      }
    
    
      #buy-prop-image{
        position:static;
        height:200px;
        width:300px;
        padding: 0px;
        padding-top: 0px;
        margin:0px;
        object-fit:cover;
      }
    
      .buy-props .content #price{
        margin:0;
        padding:0;
        font-weight: 600;
        font-size: 18px;
        padding-left: 8px;
        padding-top: 5px;
      }
    
      .buy-props .content #details{
        margin:0;
        padding:0;
        font-size: 14px;
        padding-left: 10px;
        padding-top: 5px;
      }
    
      .buy-props .content p{
        padding:0;
        padding-left: 10px;
        margin:0;
        padding-top: 5px;
        font-size: 11px;
      }
  

    .account-props-container{
      display:flex;
      flex-wrap: wrap;
      margin-top: 10px;
      margin-left: 100px;
      /* margin-right: 100px; */
      padding: 0px;
      }
    .account-props{
      display:block;
      width:400px;
      height:400px;
      float:left;
      margin-left:18px;
      margin-right: 18px;
      margin-top: 18px;
      margin-bottom: 18px;
      position: static;
      padding: 0px;
      object-fit:cover;
      text-align: left;
      box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.15);
      font-family: system-ui;
      }
      
      .account-props:hover{
        transform: scale(1.005);
      }
    
    
      #account-prop-image{
        position:static;
        height:300px;
        width:400px;
        padding: 0px;
        padding-top: 0px;
        margin:0px;
        object-fit:cover;
      }

      .own-props{
        display:block;
        width:400px;
        height:430px;
        float:left;
        margin-left:18px;
        margin-right: 18px;
        margin-top: 18px;
        margin-bottom: 18px;
        position: static;
        padding: 0px;
        object-fit:cover;
        text-align: left;
        box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.15);
        font-family: system-ui;
        }
        
        .own-props:hover{
          transform: scale(1.005);
        }

      .interests-props-container{
        display:flex;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-left: 100px;
        /* margin-right: 100px; */
        padding: 0px;
        }
      .interests-props{
        display:block;
        width:400px;
        height:480px;
        float:left;
        margin-left:18px;
        margin-right: 18px;
        margin-top: 18px;
        margin-bottom: 18px;
        position: static;
        padding: 0px;
        object-fit:cover;
        text-align: left;
        box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.15);
        font-family: system-ui;
        }
        
        .interests-props:hover{
          transform: scale(1.005);
        }
      
      
        #interests-prop-image{
          position:static;
          height:300px;
          width:400px;
          padding: 0px;
          padding-top: 0px;
          margin:0px;
          object-fit:cover;
        }
    
      .content #price{
        margin:0;
        padding:0;
        font-weight: 650;
        font-size: 21px;
        padding-left: 10px;
        padding-top: 5px;
      }
    
      .content #details{
        margin:0;
        padding:0;
        font-size: 17px;
        padding-left: 10px;
        padding-top: 5px;
      }
    
      .content p{
        padding:0;
        padding-left: 10px;
        margin:0;
        padding-top: 5px;
        font-size: 14px;
      }

      .sell-form{
        float:left;
        text-align: center;
        margin-left: 250px;
        margin-right: 200px;
      }

      .sell-form .form-group{
        padding-bottom: 10px;
        padding-top: 10px;
      }

      .sell-form label{
        padding-right: 20px;
      }

      .sell-form .type-form{
        float:left;
      }

      .sell-form .status-form{
        float:left;
      }

      .form-dropdown{
        margin-left: 140px;;
      }

      .form-dropdown-default{
        cursor:pointer;
        background-color: rgb(181, 181, 181);
      }

      .form-dropdown-default:hover{
        background-color: rgb(223, 223, 223);
      }

      .form-ul-before{
        display:none;
      }

      .form-ul-after{
        list-style-type:none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        background-color: #e8e8e8;
      }

      .form-ul-after li:hover{
        background-color: #cdcdcd;
      }

      .image-form{
        height:545px;
      }

      .img-container{
        padding-top: 20px;
        padding-right: 20px;
      }

      .img-container img{
        object-fit: cover;
        padding: 10px;
        height:100px;
        width:150px;
      }
      
      .sell-submit{
        margin-left:950px;
      }

    
 